.chat-user-list {
    list-style: none;
    text-emphasis-color: #464646;
    color: rgb(0, 0, 0);
}



.name-image {
    width: 40px;
    height: 40px;
    color: #ffffff;
    border-radius: 50%;
    font-weight: bold;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
}

.uk-logo-show{
    margin-bottom: -110px;
    position: relative;
}

.marge-top{
    margin-top: -100px;
    background-image: linear-gradient(#c56cf0 ,#3acd27);
    box-shadow: linear-gradient(#c56cf0 ,#35cd27);
    border: 10px linear-gradient(#9515d4 ,#43cd27) 3 solid;
    box-sizing: border-box;/* 
    box-shadow: #ffffff;*/
    border: 5px lightgreen solid;
    box-sizing: border-box;
}

.button-top{
    position: relative;
    margin-top: -100px;
    box-sizing: border-box;
    border: 5px rgb(182, 190, 182) solid;
    box-sizing: border-box;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
/* .uk-card-defaultt {
    background-image: linear-gradient(#27bacd, #e63737,#ffffff , #2ccd27,#27cdcd);
    border-radius: 50%;
    height: 210px;
    width: 210px;
    box-sizing: border-box;
   }
  .uk-image-possition {
    background-image: linear-gradient(#27bacd, #e63737,#ffffff , #2ccd27,#27cdcd);
      margin: 5px;
      box-shadow: #ffffff;
      border: 7px snow transparent;
      box-sizing: border-box;
  } */

  .uk-card-defaultt {
    background-image: linear-gradient(#2ccd27,#27cdcd);
    border-radius: 50%;
    height: 210px;
    width: 210px;
    box-sizing: border-box;
    
   }
  .uk-image-possition {
    background-image: linear-gradient(#ffffff, #ffffff);
    margin: 5px;
    box-shadow: #ffffff;
    border: 7px snow solid;
    box-sizing: border-box;
  }

.marge-to{
    margin-top: 10px;
    margin-left: 70px;
    padding-right: -100px;
    box-shadow: #ffffff;
    border: 5px snow solid;
    box-sizing: border-box;
}

.chat-image, .chat-name {
    display: inline-block;
}

.chat-user-list {
    margin-bottom: 18px;
    padding: 5px;
    height: 50px;
}

.chat-user-list.active {
    background: #4d9aff;
/*     background: #5acc6d; */
}

.user-status-icon {
    position: absolute;
    top: 22px;
    left: 28px;
    color: grey;
}

.chat-image {
    position: relative;
}

.chat-header {
    min-height: 60px;
    padding: 10px;
    margin-bottom: 2px;   
    background: #ffffff;
}

.chat-body {
    background: #ffffff;
    padding: 30px 50px;
    margin-bottom: 20px;
    position: relative;
}

.message-text {
    /* //margin-left: 45px; */
    margin-top: -10px;
}

.user-info{
    margin-right: 50%;
}
.chat-input {
    border: 1px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px 10px;
    border-radius: 20px;
    width: 100%;
}

.uk-span-chat {
    padding-right: 100px;
    margin-left: 1px;
    width: 90%;
}

.radius {
    border-radius: 500px;
}
.radius2{
    border-radius: 10px;
}

.container_login{
    border-radius: 5px;
    margin: auto;
    text-align: center;
    height: 400px;
    width: 300px;
    background-image: linear-gradient(#c56cf0 ,#5f27cd);
  }

.search-form input{
    border:1px solid #3b5998;
    box-sizing:border-box;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    border-radius:12px;
    padding:10px 10px;
    font-size:14px
}
.gold{
    /* background-image: linear-gradient(#5f27cd,#c56cf0); */
     /*background-image: linear-gradient(#32d296,#32d296);*/
     background-image: linear-gradient(#ffffff,#ffffff); 
    /* background-image: linear-gradient(#1877F2, #3b5998); 
    background-image: linear-gradient(#3b5998, #3b5998);/* Azul do FB */
    
}

.logocolor {
    color: #000;
    text-decoration-color: black;
    text-decoration: blacks;
}

.input-link{
    float: inline-end;
    margin-right: 100px;
}

.search-form{
    padding-top: 15px;
}
.search-form .btn-red{
    margin-left:1px;
}

.btn-red,.btn-gray{
   /*  background:red;
    box-shadow:0 4px 10px rgba(255,86,63,.4); */
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    border-radius:12px;
    padding:10px 20px;
    display:inline;
    border:none;
    color:#fdfdfe;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:all .3s
}
        

.chat-input-toolbar {
    border-left: 0px solid gray;
    border-right: 0px solid gray;
    border-bottom: 0px solid gray;
    padding: 8px 10px;
}

.chat-input-toolbar .tool-items {
    margin-right: 5px;
    opacity: 0.3;
}
.form-upload{
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .input-personalizado{
    cursor: pointer;
  }
  
  .imagem{
    max-width: 100%;
  }
  
